<button (click)="descargarPDF()">Descargar CV en PDF</button>
<body #content>
<div class="container cabecera" style="page-break-inside: avoid;">
  <div class="row">
    <div class="col-md-4">
      <img src="../../../assets/ver.png" alt="Tu nombre" class="img-fluid">
    </div> 
    <div class="col-md-8">
      <h1>Tu nombre completo</h1>
      <h3>Programador</h3>
      <ul class="list-unstyled">
        <li><i class="fas fa-map-marker-alt"></i> Ciudad, Estado</li>
        <li><i class="fas fa-envelope"></i> correo@correo.com</li>
        <li><i class="fas fa-phone"></i> (123) 456-7890</li>
        <li><i class="fas fa-globe"></i> tu-sitio-web.com</li>
      </ul>
    </div>
  </div>
</div>
<div class="container" style="page-break-inside: avoid;">
  <div class="row">
    <div class="col-md-4">
      <h2>Sobre mí</h2>
    </div>
    <div class="col-md-8">
      <p>Soy un programador apasionado con experiencia en varios lenguajes de programación, incluyendo Java, Python y JavaScript. Me encanta trabajar en proyectos desafiantes y aprender nuevas tecnologías.</p>
      <p>También tengo experiencia en trabajar en equipo y liderar proyectos de programación. Me considero un comunicador efectivo y disfruto trabajar en ambientes colaborativos.</p>
    </div>
  </div>
</div>
<div class="container" style="page-break-inside: avoid;">
  <div class="row">
    <div class="col-md-4">
      <h2>Educación</h2>
    </div>
    <div class="col-md-8">
      <h3>Nombre de la universidad</h3>
      <p>Grado en Ciencias de la Computación</p>
      <p>Fecha de graduación: mayo de 20XX</p>
      <h3>Nombre del instituto</h3>
      <p>Programación orientada a objetos</p>
      <p>Fecha de finalización: diciembre de 20XX</p>
    </div>
  </div>
</div>

<div class="container" style="page-break-inside: avoid;">
  <div class="row">
    <div class="col-md-4">
      <h2>Experiencia</h2>
    </div>
    <div class="col-md-8">
      <h3>Nombre de la empresa</h3>
      <p>Programador de software junior</p>
      <p>Fecha de inicio: junio de 20XX</p>
      <p>Fecha de finalización: diciembre de 20XX</p>
      <ul>
        <li>Desarrollé aplicaciones web utilizando HTML, CSS, JavaScript y Python.</li>
        <li>Trabajé en equipo para mejorar la funcionalidad del software y corregir errores.</li>
        <li>Participé en el desarrollo de una aplicación móvil utilizando Java para Android.</li>
      </ul>
      <h3>Nombre de la empresa</h3>
      <p>Programador de software senior</p>
      <p>Fecha de inicio: enero de 20XX</p>
      <p>Fecha de finalización: actualidad</p>
      <ul>
        <li>Lideré el equipo de desarrollo en varios proyectos, utilizando Java, Python y JavaScript.</li>
        <li>Colaboré con otros equipos de la empresa para asegurar la integración efectiva del software en múltiples plataformas.</li>
        <li>Diseñé y desarrollé una interfaz de usuario intuitiva para una aplicación móvil utilizando React Native.</li>
      </ul>
    </div>
  </div>
</div>
<div class="container" style="page-break-inside: avoid;">
  <div class="row">
    <div class="col-md-4">
      <h2>Habilidades</h2>
    </div>
    <div class="col-md-8">
      <h3>Lenguajes de programación</h3>
      <ul>
        <li>Java</li>
        <li>Python</li>
        <li>JavaScript</li>
        <li>C++</li>
        <li>SQL</li>
      </ul>
      <h3>Frameworks y librerías</h3>
      <ul>
        <li>React</li>
        <li>Angular</li>
        <li>Node.js</li>
        <li>Bootstrap</li>
        <li>jQuery</li>
      </ul>
     <!--  <h3 style="page-break-after: always;">&nbsp;</h3> -->
    </div>
  </div>
</div>
</body>
