<section class="py-0">
    <div class="container">
        <div class="contenedor__barraTitulo">
            <h2>Educacion</h2>
           <button type="button" class="Edit" *ngIf="autenticacionService.isLoggedIn"
           (click)="onOpenModal('add')" data-bs-toggle="modal" data-bs-target="#addEducationModal">
           <i class="fa-solid fa-plus"></i>
          </button> 
          </div>
      <div class="row" *ngFor="let educacion of educations">
        <div class="col-md-12 border-0 py-0">
          <div class="card mb-4 border-0 py-0">
            <div class="card-body border-0 py-0">
              <h5 class="card-title">{{educacion.tituloEdu}}</h5>
              <p class="card-text">{{educacion.escuelaEdu}}</p>
              <p class="card-text">{{educacion.descEdu}}</p>
              <p class="card-text"><small class="text-muted">{{educacion.fecha}}</small></p>
            </div>
            <div class="card-footer" *ngIf="autenticacionService.isLoggedIn">
              <button class="btn btn-outline-primary me-2" (click)="onOpenModal('edit',educacion)">
                Editar</button>
              <button class="btn btn-outline-danger" (click)="onOpenModal('delete', educacion)" >
                Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- MODAL PARA AGREGAR -->
  <div
  class="modal fade"
  id="addEducationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addEducationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEducationModalLabel">
          Agregar Educación
        </h5>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddEducation(addForm)">
          <div class="form-group">
            <label for="tituloEdu">Título</label>
            <input
              type="text"
              ngModel
              name="tituloEdu"
              class="form-control"
              id="tituloEdu"
              placeholder="titulo Educacion"
              required
            />
          </div>
          <div class="form-group">
            <label for="escuelaEdu">Nombre Universidad</label>
            <input
              type="text"
              ngModel
              name="escuelaEdu"
              class="form-control"
              id="escuelaEdu"
              placeholder="Nombre Universidad"
              required
            />
          </div>
          <div class="form-group">
            <label for="descEdu">Descripción Educación</label>
            <input
              type="text"
              ngModel
              name="descEdu"
              class="form-control"
              id="descEdu"
              placeholder="Descripción"
              required
            />
          </div>

          <div class="form-group">
            <label for="fecha">Fecha Cursada</label>
            <input
              type="text"
              ngModel
              name="fecha"
              class="form-control"
              id=" fecha"
              placeholder="Fecha de Cursada o tiempo cursado"
              required
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              id="add-education-form"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              [disabled]="addForm.invalid"
              type="submit"
              class="btn btn-primary"
            >
              Guardar cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA EDITAR -->
<div
  class="modal fade"
  id="editEducationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="experienceEditModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEducationModalLabel">
          Editar Educación {{ editEducation?.tituloEdu }}
        </h5>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">Título</label>
            <input
              type="text"
              ngModel="{{ editEducation?.tituloEdu }}"
              name="tituloEdu"
              class="form-control"
              id="tituloEdu1"
              aria-describedby="emailHelp"
              placeholder="Titulo"
            />
          </div>
          <input
            type="hidden"
            ngModel="{{ editEducation?.idEdu }}"
            name="idEdu"
            class="form-control"
            id="idEdu1"
            placeholder=""
          />
          <div class="form-group">
            <label for="escuelaEdu">Nombre Universidad</label>
            <input
              type="text"
              ngModel="{{ editEducation?.escuelaEdu }}"
              name="escuelaEdu"
              class="form-control"
              id="escuelaEdu1"
              placeholder="Descripción Educación"
            />
          </div>
          <div class="form-group">
            <label for="descEdu">Descripción Educación</label>
            <input
              type="text"
              ngModel="{{ editEducation?.descEdu }}"
              name="descEdu"
              class="form-control"
              id="descEdu1"
              placeholder="Descripción Educación"
            />
          </div>
          <div class="form-group">
            <label for="fecha">Fecha</label>
            <input
              type="text"
              ngModel="{{ editEducation?.fecha }}"
              name="fecha"
              class="form-control"
              id="fecha1"
              placeholder="Fecha o Tiempo de cursada"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              id="1"
              data-bs-dismiss="modal"
              class="btn btn-danger"
            >
              Cerrar
            </button>
            <button
              (click)="onUpdateEducation(editForm.value)"
              data-bs-dismiss="modal"
              class="btn btn-primary"
            >
              Guardar Cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA BORRAR -->
<div
  class="modal fade"
  id="deleteEducationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModelLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Borrar Educación</h5>
      </div>
      <div class="modal-body">
        <p>
          Estás seguro que quieres borrar
          {{ deleteEducation?.tituloEdu }}?
        </p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            No
          </button>
          <button
            (click)="onDeleteEducation(deleteEducation!.idEdu)"
            class="btn btn-danger"
            data-bs-dismiss="modal"
          >
            Si
          </button>
        </div>
      </div>
    </div>
  </div>
</div>