<header id="welcome-section">
<!-- prueba -->
  <nav class="navbar navbar-expand-md bg-dark">
    <div class="container-fluid">
    <!-- icono o nombre -->
  
    <a class="navbar-brand" href="/home">
      <span class="text-light">CV-online</span>
    </a>
         <ul class="navbar-nav">
          <li class="nav-item" *ngIf="!authService.isLoggedIn">
            <button  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              iniciar sesion
            </button>
          </li>
            <button *ngIf="authService.isLoggedIn" type="submit" class="btn btn-danger" (click)="logout()">Cerrar</button>
        </ul> 


    <!-- boton del menu -->
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
      <!-- elementos del menu colapsable -->
  
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          
        </li>
      </ul>
  
      <hr class="d-md-none text-white-50">
  
       <!-- enlaces redes sociales -->
  
      <ul class="navbar-nav  flex-row flex-wrap text-light">
  
        <li class="nav-item col-6 col-md-auto p-3">
            <a href="https://www.linkedin.com/in/diegovillan/" target="_blank" class="link-light" id="link-home">
            Linkedin</a>
        </li>
  
        <li class="nav-item col-6 col-md-auto p-3">
          <a href="https://github.com/Nahuel409" target="_blank" class="link-light">
          GitHub</a>
          <small class="d-md-none ms-2"></small> 
        </li>

        <li class="nav-item col-6 col-md-auto p-3">
          <a href="https://nahuel409.github.io/Portfolio-DiegoVillan/" target="_blank" class="link-light">
         Contact</a>
          <small class="d-md-none ms-2"></small>
        </li>
  
      </ul>
      
     <!--boton Informacion -->
    </div>
  
    </div>  
  </nav>

<!-- prueba fin -->

      <!--   <ul class="navbar-nav">
          <li class="nav-item" *ngIf="!authService.isLoggedIn">
            <button  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              iniciar sesion
            </button>
          </li>
            <button  type="submit" class="btn btn-secondary" (click)="logout()">Cerrar</button>
        </ul> -->
   

  
    
  
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Inicio de Sesión</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="loginForm" (ngSubmit)="login()" #loginForm="ngForm">
              <div class="mb-3">
                <label for="username" class="form-label">Usuario</label>
                <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" required
                  [(ngModel)]="username" name="username" pattern="^[a-zA-Z@]+$">
                <div id="usernameHelp" class="form-text">Ingresa tu nombre de usuario (solo letras y @).</div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" required
                  [(ngModel)]="password" name="password" pattern="^[a-zA-Z]+$">
                <div id="passwordHelp" class="form-text">Ingresa tu contraseña (solo letras).</div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary" form="loginForm" (click)="login()" data-bs-dismiss="modal">Ingresar</button>
          </div>
        </div>
      </div>
    </div> 

    


  </header>
 