<section id="tecnologias" class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Habilidades</h2>
          <button type="button" class="Edit" *ngIf="autenticacionService.isLoggedIn"
          (click)="onOpenModal('add')" data-bs-toggle="modal" data-bs-target="#addSkillModal">
          <i class="fa-solid fa-plus"></i>
         </button> 
          <hr class="divider">
        </div>
      </div>
      <div class="row" *ngFor="let skill of skills">
        <div class="mb-4">
          <p>{{skill.tituloSkill}}</p>
          <div *ngIf="autenticacionService.isLoggedIn">
            <button class="Edit me-2" (click)="onOpenModal('edit',skill)"><i class="fa-solid fa-pen"></i> 
            </button>
            <button class="Edit" (click)="onOpenModal('delete', skill)">
              <i class="fa-solid fa-trash"></i> </button>
            </div>
        </div>
      </div>
    </div>
  </section>
<!-- <section id="tecnologias" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Habilidades</h2>
        <button type="button" class="Edit" *ngIf="autenticacionService.isLoggedIn" (click)="onOpenModal('add')" data-bs-toggle="modal" data-bs-target="#addSkillModal">
          <i class="fa-solid fa-plus"></i>
        </button>
        <hr class="divider">
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="col-12">
        <div class="d-flex flex-wrap">
          <div *ngFor="let skill of skills" class="me-4 mb-4">
            <h4>{{skill.tituloSkill}}</h4>
            <div *ngIf="autenticacionService.isLoggedIn">
              <button class="Edit me-2" (click)="onOpenModal('edit',skill)"><i class="fa-solid fa-pen"></i> 
              </button>
              <button class="Edit" (click)="onOpenModal('delete', skill)">
                <i class="fa-solid fa-trash"></i> 
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
  <div

  *ngIf="skills?.length == 0 && autenticacionService.isLoggedIn"
  class="col-lg-12 col-md-12 col-xl-12"
>
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">No hay skills!</h4>
    <p>No se encontró ninguna skill</p>
  </div>
</div>
  
<!-- MODAL PARA AGREGAR SKILL -->
<div
  class="modal fade"
  id="addSkillModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addSkillModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addSkillModalLabel">
          Agregar Educación
        </h5>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddSkill(addForm)">
          <div class="form-group">
            <label for="tituloSkill">Título</label>
            <input
              type="text"
              ngModel
              name="tituloSkill"
              class="form-control"
              id="tituloSkill"
              placeholder="tituloSkill"
              required
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              id="add-skill-form"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              [disabled]="addForm.invalid"
              type="submit"
              class="btn btn-primary"
            >
              Guardar cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA EDITAR SKILL -->

<div
  class="modal fade"
  id="editSkillModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="skilleditModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEducationModalLabel">
          Editar Skill {{ editSkill?.tituloSkill }}
        </h5>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">Título</label>
            <input
              type="text"
              ngModel="{{ editSkill?.tituloSkill }}"
              name="tituloSkill"
              class="form-control"
              id="tituloSkill1"
              aria-describedby="emailHelp"
              placeholder="Titulo"
            />
          </div>
          <input
            type="hidden"
            ngModel="{{ editSkill?.idSkill }}"
            name="idSkill"
            class="form-control"
            id="idSkill1"
            placeholder=""
          />
          <div class="modal-footer">
            <button
              type="button"
              id="1"
              data-bs-dismiss="modal"
              class="btn btn-danger"
            >
              Cerrar
            </button>
            <button
              (click)="onUpdateSkill(editForm.value)"
              data-bs-dismiss="modal"
              class="btn btn-primary"
            >
              Guardar Cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--MODAL PARA ELIMINAR  -->
<div
  class="modal fade"
  id="deleteSkillModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Borrar Skill</h5>
      </div>
      <div class="modal-body">
        <p>
          Estás seguro que quieres borrar
          {{ deleteSkill?.tituloSkill }}?
        </p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            No
          </button>
          <button
            (click)="onDeleteSkill(deleteSkill!.idSkill)"
            class="btn btn-danger"
            data-bs-dismiss="modal"
          >
            Si
          </button>
        </div>
      </div>
    </div>
  </div>
</div>